name: digital_zoom_camera
description: A professional Flutter digital zoom camera app.
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: ">=3.2.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  camera: ^0.11.0
  path_provider: ^2.0.14
  permission_handler: ^11.2.0
  provider: ^6.0.5
  device_info_plus: ^10.1.0
  image: ^4.1.3
  # image_gallery_saver: 2.3.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^2.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/icons/
